html {
  height: 99.6%;
}
body {
  margin: 0;
  min-height: 99.6vh;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  body {
    background-color: rgb(82 86 89);
  }
}

#header {
  color: #cf0821;
  background-color: white;
}

div#pdf {
  flex: 1;
}

div#title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  font-weight: bold;
  font-family: Rockwell, Georgia, serif;
  text-shadow: 1px 1px 1px white, 2px 2px 1px #3e0209;
  margin-bottom: 0px;
  margin-top: 20px;
}

div#subtitle {
  font-family: "Brush Script MT", cursive;
  font-size: 24px;
  text-align: center;
  margin-top: -16px;
  margin-left: 200px;
  color: #cf0821;
}

div#updated {
  text-align: center;
  font-family: "Lucida Sans Typewriter", "Courier New", monospace;
  color: black;
  font-size: 10px;
  margin-bottom: 6px;
}

div#title > img {
  max-height: 56px;
  width: auto;
  height: auto;
  margin-right: 3px;
}
